@media screen and (min-width: 767px) and (max-width: 1023px) and (min-width: 1024px) {
}
.jumbotron {
  padding-top: 9rem;
  background-color: #072368;
}
#projects {
  background-color: #072368;
}
.name {
  color: #072368;
}
section {
  padding-top: 8rem;
}
.navbar-brand {
  font-family: 'Open Serif', sans-serif;
}
.nav-link {
  color: white;
}
.navbar-collapse {
  text-align: center;
}
#contact {
  margin-bottom: -50px;
  background-color: #072368;
}
.icon-sosmed {
  margin-top: 2px;
  margin-right: 15px;
  margin-left: 15px;
  color: #ffffff;
}
.card {
  margin-bottom: 18px;
}
.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0b2c7e;
  --bs-btn-border-color: #0b2c7e;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b2c7e;
  --bs-btn-hover-border-color: #072368;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0b2c7e;
  --bs-btn-active-border-color: #0b2c7e;
  --bs-btn-active-shadow: inset 0 3px 5pxrgba (0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0b2c7e;
  --bs-btn-disabled-border-color: #0b2c7e;
  margin-top: 20px;
}
.btn-primary1 {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0b2c7e;
  --bs-btn-border-color: #0b2c7e;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0b2c7e;
  --bs-btn-hover-border-color: #072368;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0b2c7e;
  --bs-btn-active-border-color: #0b2c7e;
  --bs-btn-active-shadow: inset 0 3px 5pxrgba (0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0b2c7e;
  --bs-btn-disabled-border-color: #0b2c7e;
  margin-top: 42.5px;
}
.btn {
  color: white;
  background-color: #072368;
  border-color: transparent;
}
.link {
  color: #515151ca;
}
.a {
  background-color: #ffffff;
}
.btn-kirim {
  color: #072368;
}
::selection {
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background-color: #072368;
}
::-webkit-scrollbar-thumb {
  background-color: whitesmoke;
}
a:hover {
  color: #c6c6c6;
}
footer {
  background-color: #ffffff;
}
.custom-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-border-color: var(--bs-primary);
  --bs-popover-header-bg: var(--bs-primary);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: 0.5rem;
}
.card-body {
  background-position: center;
}
.kontol {
  padding-bottom: 22px;
}
