.jumbotron {
  padding-top: 9rem;
  background-color: #072368;
}
#projects {
  background-color: #072368;
}
.name {
  color: #072368;
}
section {
  padding-top: 8rem;
}
.navbar-brand {
  font-family: 'Open Serif', sans-serif;
}
.nav-link {
  color: white;
}
#contact {
  margin-bottom: -50px;
  background-color: #072368;
}
.icon-sosmed {
  margin-top: 2px;
  margin-right: 15px;
  margin-left: 15px;
  color: #ffffff;
}
.btn-kirim {
  color: #072368;
}
::selection {
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background-color: #072368;
}
::-webkit-scrollbar-thumb {
  background-color: whitesmoke;
}
a:hover {
  color: #c6c6c6;
}
footer {
  background-color: #ffffff;
}
.custom-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-border-color: var(--bs-primary);
  --bs-popover-header-bg: var(--bs-primary);
  --bs-popover-header-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: 0.5rem;
}
.card-body {
  background-position: center;
}
